extends layoutWithoutSidebar

block topbar 
    ul.navbar-nav.ml-auto
        li.nav-item.dropdown.no-arrow.mr-3
            a.btn.btn-sm.btn-info(href='#') Login
        li.nav-item.dropdown.no-arrow.mr-3
            a.btn.btn-sm.btn-warning(href='#') Signup 
block content
  // Login Content
  #container-wrapper.container-fluid
  .container-login
    .row.justify-content-center
      .col-xl-6.col-lg-12.col-md-9
        .card.shadow-sm.my-5
          .card-body.p-0
            .row
              .col-lg-12
                .login-form
                  .text-center
                    h1.h4.text-gray-900.mb-4 Forgot your password?
                  form.user(method = 'POST' action = '/forgotPassword')
                    h3= errorMessage5
                    input(type="hidden", name="_csrf", value=_csrf)
                    .form-group
                      input#exampleInputEmail.form-control(type='email' name='fpemail' aria-describedby='emailHelp' placeholder='Enter Email Address')
                    //
                      <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                      </div>
                    //
                      <div class="form-group">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember
                      Me</label>
                      </div>
                      </div>
                    .form-group
                      // <button class="btn btn-primary mb-1 btn-block" type= "submit" name= "submit">Send Validation Code</button>
                      button.btn.btn-primary.btn-block(href='resetPassword.html' type='submit' nameid='submit') Send Validation Code
                    //
                      <div id="msg">
                      <pre></pre>
                      </div>
                  //
                    <script>
                    let information = [];
                    const addInfo = (ev)=> {
                    // ev.preventDefault();
                    let infoJson = {
                    id: 12334,
                    email: document.getElementById('exampleInputEmail').value,
                    password: document.getElementById('exampleInputPassword').value
                    }
                    information.push(infoJson);
                    document.forms[0].reset(); //clear form for next entries
                    console.warn('added', {information});
                    // let pre = document.querySelector('#msg pre');
                    // pre.textContent = '\n' + JSON.stringify(information, '\t', 2);
                    localStorage.setItem('JSON_Info', JSON.stringify(information));
                    }
                    document.addEventListener('DOMContentLoaded', () => {
                    document.getElementById('loginbtn').addEventListener('click', addInfo);
                    });
                    </script>
                  hr
                  .text-center
                    a.font-weight-bold.small(href='/studentInstructorSignup') Create an Account!
                  .text-center
