extends layoutWithoutSidebar

block topbar 
    ul.navbar-nav.ml-auto
        li.nav-item.dropdown.no-arrow.mr-3
            a.btn.btn-sm.btn-info(href='/loginPage',id = "Login") Login
        li.nav-item.dropdown.no-arrow.mr-3
            a.btn.btn-sm.btn-warning(href='/studentInstructorSignup', id = "Signup") Signup 
block content
  
  // Login Content
  #container-wrapper.container-fluid
    style.
      * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }
      body {
      background-color: #fff!important;
      }
      li {
      list-style: none;
      }
      .clazzroom{
      font-size: 40px;
      }
      .focus {
      position: relative;
      margin: 0 auto;
      width: 1200px;
      height: 320px;
      /* background-color: purple; */
      overflow: hidden;
      }
      .focus ul {
      position: absolute;
      top: 0;
      left: 0;
      }
      .focus ul li {
      float: left;
      width: 1200px;
      }
      .arrow-l,
      .arrow-r {
      /* display: none; */
      position: absolute;
      top: 50%;
      margin-top: -20px;
      width: 24px;
      height: 40px;
      /* background: rgba(0, 0, 0, .3); */
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 18px;
      z-index: 2;
      }
      .arrow-r {
      right: 0;
      }
      .circle {
      position: absolute;
      bottom: 10px;
      left: 50px;
      }
      .circle li {
      float: left;
      width: 8px;
      height: 8px;
      /*background-color: #fff;*/
      border: 2px solid rgba(255, 255, 255, 0.5);
      margin: 0 3px;
      border-radius: 50%;
      /*鼠标经过显示小手*/
      cursor: pointer;
      }
      .current {
      background-color: #fff;
      }
      .foucs-text-center {
      width: 540px;
      text-align: center;
      }
      .foucs-text-center img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      }
      .focus-detail h2 {
      font-size: 150px;
      margin: 0;
      line-height: 95px;
      height: 72px;
      }
      .focus-detail p:last-child {
      margin-top: 40px;
      }
      .carousel-item img{
      width: 350px !important;
      border-radius: 350px;
      }
      /* Create two equal columns that floats next to each other */
      .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 230px; /* Should be removed. Only for demonstration */
      }
      /* Clear floats after the columns */
      .row: after {
      content: "";
      display: table;
      clear: both;
      }
      @media all and (max-width: 1370px) {
      .flex .card {
      max-height:12.5rem;
      }
      .flex2{
      display: flex;
      flex-wrap: nowrap!important;
      justify-content: space-between;
      }
      .ml-5{
      margin-left: 1rem!important;
      }
      .column {
      float: left;
      width: 90%;
      margin: 0 auto;
      height: auto;
      }
      .clazzroom{
      font-size:30px;
      }
      .row: after {
      content: "";
      display: table;
      clear: both;
      }
      .focus {
      width: 100%;
      height: 650px;
      }
      .focus ul li {
      float: left;
      width: 25%;
      }
      .foucs-text-center {
      width: 100%;
      text-align: center;
      }
      }
      @media all and (max-width: 700px) {
      .flex2{
      display: flex!important;
      flex-direction: column!important;
      }
      .column {
      float: left;
      width: 80%;
      margin: 0 auto;
      height: auto;
      }
      .clazzroom{
      font-size: 20px;
      }
      .ml-5{
      margin-left: 0!important;
      }
      .row: after {
      content: "";
      display: table;
      clear: both;
      }
      .focus {
      width: 100%;
      height: 600px;
      }
      .focus ul li {
      float: left;
      width: 25%;
      }
      .focus-detail{
      width: 80%;
      }
      .foucs-text-center {
      width: 100%;
      text-align: center;
      }
      .foucs-text-center img{
      width: 150px;
      height: 150px;
      }
      }
  
  .col-lg-12
    .card.mb-4
      .card-header.py-3
        .text1
      .card-body.mb-4
        .row
          .column
            .text-center
              p.clazzroom
                | Clazzroom helps instructors
                br
                | form efficient teams based
                br
                | on student skills and preferences.
          .column.column-img
            .text-center(style='margin: 20px auto;')
              img(src='/bower_components/img/clazzroomimg.png' width='90%' style='max-width: 400px;max-height: 400px')
              // <h4 class="pt-3">save your <b>imagination</b> here!</h4>
        .row.mb-3.flex2
          .col-xl-3.mb-4
            .card.h-100.ml-5
              .card-body
                .row.align-items-center
                  .col.mr-4
                    i.fas.fa-calendar-check.fa-2x(style='color:indigo;')
                    p
                    .text-black-400.font-weight-bold.text-uppercase.mb-1
                      | No more random teams.
                      | Students can now choose classmates they wish to partner up with.
          .col-xl-3.mb-4
            .card.h-100.ml-5
              .card-body
                .row.align-items-center
                  .col.mr-4
                    i.fas.fa-chalkboard-teacher.fa-2x(style='color:red;')
                    p
                    .text-black-400.font-weight-bold.text-uppercase.mb-1
                      | Instructors can post a project and approve any
                      | student-formed teams.
      // <div class="text-center">
      // <img src="img/error.svg" style="max-height: 100px;" class="mb-3">
      //
        <h2 class="text-gray-800 font-weight-bold">“I used to hate being placed with random teams...
        Clazzroom really helped me find students with similar interests and diverse skills.” </h2>
        <p class="lead text-gray-800 mx-auto">John Doe - B.Sc. Biomedical Engineering - University of Waterloo</p>
      // <a href="index.html">&larr; Back to Dashboard</a>
      // </div>
      .focus.fl
        a.arrow-l(href='javascript:void(0);')
          svg.icon(t='1615088639819' viewbox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2151' width='32' height='32')
            path(d='M677.391515 873.916768c-7.86101 0-15.618586-2.999596-21.617778-8.895354L324.473535 533.721212c-11.998384-11.894949-11.998384-31.340606 0-43.235555L655.670303 159.288889c5.999192-5.999192 13.756768-8.895354 21.617778-8.895354 7.757576 0 15.618586 2.999596 21.617778 8.895354 11.894949 11.894949 11.894949 31.237172 0 43.235555L389.223434 512.103434 698.905859 821.785859c11.894949 11.998384 11.894949 31.340606 0 43.235555-5.895758 5.895758-13.756768 8.895354-21.514344 8.895354z m0 0' p-id='2152')
        a.arrow-r(href='javascript:;')
          svg.icon(t='1615088690258' viewbox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2908' width='32' height='32')
            path(d='M307.6 104.6c-14.2 14.2-14.2 37.2 0 51.4L655 503.4c2.8 2.9 2.8 7.5 0 10.3L307.6 861.2c-14.2 14.2-14.2 37.2 0 51.4 14.2 14.2 37.2 14.2 51.4 0l347.4-347.4c15.6-15.6 23.4-36 23.4-56.5s-7.8-41-23.4-56.5L359 104.6c-14.2-14.2-37.2-14.2-51.4 0z' p-id='2909')
        ul.foucs-container
          li
            .row.flex
              .foucs-text-center
                img(src='/bower_components/img/landing.jpg' style='border-radius:50%' alt='Avatar')
              .column.focus-detail
                h2 &ldquo;
                .text-black-400.font-weight-bold.text-uppercase.mb-1
                  | &quot;I used to hate being placed with random teams...
                  | Clazzroom really helped me find students with similar interests and diverse skills.&rdquo;
                p
                p
                .text-black-400.font-weight-bold.text-uppercase.mb-1 John Doe - B.Sc. Biomedical Engineering - University of Waterloo
                p John Doe - B.Sc. Biomedical Engineering - University of Waterloo
          li
            .row.flex
              .foucs-text-center
                img(src='/bower_components/img/00-professor2.jpg' style='border-radius:50%' alt='Avatar')
              .column.focus-detail
                h2 &ldquo;
                .text-black-400.font-weight-bold.text-uppercase.mb-1
                  | &quot;I used to hate being placed with random teams...
                  | Clazzroom really helped me find students with similar interests and diverse skills.&rdquo;
                p
                p
                .text-black-400.font-weight-bold.text-uppercase.mb-1 John Doe - B.Sc. Biomedical Engineering - University of Waterloo
                p John Doe - B.Sc. Biomedical Engineering - University of Waterloo
          li
            .row.flex
              .foucs-text-center
                img(src='/bower_components/img/schoolteacher.jpeg' style='border-radius:50%' alt='Avatar')
              .column.focus-detail
                h2 &ldquo;
                .text-black-400.font-weight-bold.text-uppercase.mb-1
                  | &quot;I used to hate being placed with random teams...
                  | Clazzroom really helped me find students with similar interests and diverse skills.&rdquo;
                p
                p
                .text-black-400.font-weight-bold.text-uppercase.mb-1 John Doe - B.Sc. Biomedical Engineering - University of Waterloo
                p John Doe - B.Sc. Biomedical Engineering - University of Waterloo
        // little circle
        ol.circle(style='display: none;')
      // </body>
  // Topbar
  // Container Fluid
  //
    <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Blank Page</h1>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./">Home</a></li>
    <li class="breadcrumb-item">Pages</li>
    <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
    </ol>
    </div>
  // Modal Logout
  //
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p>Are you sure you want to logout?</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
    <a href="login.html" class="btn btn-primary">Logout</a>
    </div>
    </div>
    </div>
    </div>
  // </div>
  // -Container Fluid
  // </div>
  // Footer
  //
    <footer class="sticky-footer bg-white">
    <div class="container my-auto">
    <div class="copyright text-center my-auto">
    <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
    <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
    </span>
    </div>
    </div>
    </footer>
  // Footer
  // Scroll to top
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='vendor/jquery-easing/jquery.easing.min.js')
  script(src='js/ruang-admin.min.js')
  script.
    function animate(obj, target, callback) {
    clearInterval(obj.timer);
    obj.timer = setInterval(function() {
    // var step = Math.ceil((target - obj.offsetLeft) / 10);
    var step = (target - obj.offsetLeft) / 10;
    step = step > 0 ? Math.ceil(step) : Math.floor(step);
    if (obj.offsetLeft == target) {
    clearInterval(obj.timer);
    callback && callback();
    }
    obj.style.left = obj.offsetLeft + step + 'px';
    }, 25);
    }
    var arrow_l = document.querySelector('.arrow-l');
    var arrow_r = document.querySelector('.arrow-r');
    var focus = document.querySelector('.focus');
    var focusWidth = focus.offsetWidth;
    var timer = setInterval(function() {
    arrow_r.click();
    }, 5000);;
    focus.addEventListener('mouseenter', function() {
    arrow_l.style.display = 'block';
    arrow_r.style.display = 'block';
    clearInterval(timer);
    timer = null;
    })
    focus.addEventListener('mouseleave', function() {
    timer = setInterval(function() {
    arrow_r.click();
    }, 5000);
    })
    var ul = focus.querySelector('ul');
    var ol = document.querySelector('.circle');
    var len = (ul.children.length - 0 + 1) * 100;
    console.log(ul.children.length, len);
    ul.style.width = len + "%";
    for (var i = 0; i < ul.children.length; i++) {
    var li = document.createElement('li');
    li.setAttribute('index', i);
    ol.appendChild(li);
    li.addEventListener('click', function() {
    for (var i = 0; i < ol.children.length; i++) {
    ol.children[i].className = '';
    }
    this.className = 'current';
    var index = this.getAttribute('index');
    num = index;
    circle = index;
    animate(ul, -index * focusWidth);
    });
    }
    ol.children[0].className = 'current';
    var first = ul.children[0].cloneNode(true);
    ul.appendChild(first);
    var num = 0;
    var circle = 0;
    var flag = true;
    arrow_r.addEventListener('click', function() {
    if (flag) {
    flag = false;
    if (num == ul.children.length - 1) {
    ul.style.left = 0;
    num = 0;
    circle = 0;
    }
    num++;
    animate(ul, -num * focusWidth, function() {
    flag = true;
    });
    circle++;
    circle = circle == ol.children.length ? 0 : circle;
    circleChange();
    }
    });
    arrow_l.addEventListener('click', function() {
    if (flag) {
    flag = false;
    if (num == 0) {
    num = ul.children.length - 1;
    ul.style.left = -num * focusWidth + 'px';
    circle = ol.children.length;
    }
    num--;
    animate(ul, -num * focusWidth, function() {
    flag = true;
    });
    circle--;
    circle = circle < 0 ? ol.children.length - 1 : circle;
    circleChange();
    }
    });
  script(src='/bower_components/vendor/jquery/jquery.min.js')
  script(src='/bower_components/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/bower_components/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/bower_components/js/ruang-admin.min.js')
